<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <div class="content">
        <h4>Hello, <strong>{{ name }}</strong></h4>
        <p>Click the link below to activate your account</p>
        <p>
            <a href="{{ url }}">{{ url }}</a>
        </p>

        <div class="content--footer">
            <p>Thanks</p>
        </div>
    </div>
</body>
</html>